<form id="user-form" (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="form-group mb-3" [class.was-validated]="amountTemplate.dirty || amountTemplate.touched">
    <label class="control-label" for="amount">Amount*</label>
    <input id="amount" name="amount" type="number" placeholder="Enter the amount in number" class="form-control" required
           [(ngModel)]="amount" #amountTemplate="ngModel">
    <!--<div class="invalid-feedback">A username is required</div>-->
  </div>
  <div class="form-group mb-3" [class.was-validated]="weightTemplate.dirty || weightTemplate.touched">
    <label class="control-label" for="weight">Weight*</label>
    <input id="weight" name="weight" type="number" placeholder="Enter the weight in number" class="form-control" required
           [(ngModel)]="weight" #weightTemplate="ngModel">
    <!--<div class="invalid-feedback">A username is required</div>-->
  </div>
  <div class="form-group mb-3" [class.was-validated]="locationTemplate.dirty || locationTemplate.touched">
    <label class="control-label" for="location">Location*</label>
    <input id="location" name="location" type="text" placeholder="Enter the location in text" class="form-control" required
           [(ngModel)]="location" #locationTemplate="ngModel">
    <!--<div class="invalid-feedback">A username is required</div>-->
  </div>
  <div class="form-group fa-pull-right">
    <button id="submit" type="submit" [disabled]="!form.form.valid"
            class="btn ms-3 btn-success pull-right">Submit</button>
  </div>
</form>
