<h1>Request from {{request?.propagator?.id}} </h1>
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
  <tr>
    <th>Amount</th>
    <th>Weight</th>
    <th>Location</th>
    <th>Date</th>
    <th>Taken:</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{ request.amount }}</td>
    <td>{{ request.weight }}</td>
    <td>{{ request.location }}</td>
    <td>{{ request.date | date }}</td>
    <td *ngIf="request?.fulfilledBy, else not_fulfilled">Yes</td>

    <ng-template #not_fulfilled>
      <td>No</td>
    </ng-template>

  </tbody>
</table>
