<h1>List</h1>
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
  <tr>
    <th>Amount</th>
    <th>Weight</th>
    <th>Location</th>
    <th>Date</th>
    <th>Taken:</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let request of requests">
    <td id="amount">{{ request.amount }}</td>
    <td id="weight">{{ request.weight }}</td>
    <td id="location">{{ request.location }}</td>
    <td><a class="card-text" [routerLink]="['/requests', request.id]">{{ request.date | date }}</a></td>
    <td *ngIf="request?.fulfilledBy, else not_fulfilled">Yes</td>

    <ng-template #not_fulfilled>
      <td>No</td>
    </ng-template>

  </tbody>
</table>
