<h1>Seeds</h1>

<div class="jumbotron" *ngIf="isRole('admin')">
  <p class="takes-text">Create new seed</p>
  <button
    class="btn btn-success pull-right add-take"
    id="createSeed"
    [routerLink]="['/seeds/create']"
  >
    Add Seed
  </button>
</div>

<div class="card mb-1 mt-3" *ngFor="let seed of seeds">
  <div class="card-block row m-1 col-12" (click)="detail(seed)">
    <div class="card-body row align-items-center">
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">ID</h6>
        <a class="card-text">{{ seed.id }}</a>
      </div>
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">Scientific name</h6>
        <p class="card-text">{{ seed.scientificName }}</p>
      </div>
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">Common names</h6>
        <p class="card-text">{{ seed.commonName }}</p>
      </div>
    </div>
  </div>
</div>

<ngb-pagination
  class="d-flex justify-content-center"
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="totalSeeds"
  (pageChange)="changePage()"
></ngb-pagination>
