<h1>Seeds</h1>

<div class="jumbotron" *ngIf="isRole('admin')">
  <button
    class="btn btn-success pull-right add-take mb-3"
    id="createSeed"
    [routerLink]="['/seeds/create']"
  >
    Add Seed
  </button>
</div>
<div class="row">
  <div class="col-md-9">
    <app-seed-search (emitResults)="searchSeeds($event)"></app-seed-search>
  </div>
  <div class="col-md-2 dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Sort by: {{ sortBy }}
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item" (click)="updateSelection('Scientific name')"
          >Scientific name</a
        >
      </li>
      <li>
        <a class="dropdown-item" (click)="updateSelection('Common name')"
          >Common name</a
        >
      </li>
    </ul>
  </div>
  <div class="col-md-1 dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton2"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      {{ sortOrder }}
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item" (click)="updateSortOrder('A-Z')">A-Z</a>
      </li>
      <li>
        <a class="dropdown-item" (click)="updateSortOrder('Z-A')">Z-A</a>
      </li>
    </ul>
  </div>
</div>

<div class="card mb-1 mt-3" *ngFor="let seed of seeds">
  <div class="card-block row m-1 col-12" (click)="detail(seed)">
    <div class="card-body row align-items-center">
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">ID</h6>
        <a class="card-text">{{ seed.id }}</a>
      </div>
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">Scientific name</h6>
        <p class="card-text">{{ seed.scientificName }}</p>
      </div>
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">Common names</h6>
        <p class="card-text">{{ seed.commonName }}</p>
      </div>
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">Beneficial for</h6>
        <p class="card-text">{{ seed.beneficialFor }}</p>
      </div>
    </div>
  </div>
</div>

<ngb-pagination
  class="d-flex justify-content-center"
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="totalSeeds"
  (pageChange)="changePage()"
></ngb-pagination>
